@import url('https://fonts.googleapis.com/css2?family=Helvetica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Avenir&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arial&display=swap');

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (max-width: 834px) {
    body {
        background: #d7edfb;
    }
}

@media (max-width: 575px) {
    .ant-layout-sider {
        position: absolute;
        z-index: 10;
        height: 100vh;
    }
}

.ant-card-head-title {
    height: 42px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
}
